:global html, :global body, :global #viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:global body {
  background-color: #DDDDDD;
}

:global #viewport {
  background-color: white;
}

@media screen and (min-aspect-ratio: 3/4) {
  :global #viewport {
    margin: auto;
    width: 75vh;
    height: 100%;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panel {
  flex: 1;
}
